:root {
  --background: #0769ad;
  --border-color: #333;
  --button: var(--background);
  --button-hover: #065e9c;
  --success-color: #7acef4;
  --border-radius: 10px;
}
html {
  background-color: var(--background);
  padding: 20px;
}
body {
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 20px;
  max-width: 65ch;
  text-align: left;
  background-color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: #222;
  font-size: 100%;
  border-radius: var(--border-radius);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #3273dc;
}
nav a {
  margin-right: 10px;
}
textarea {
  width: 100%;
  font-size: 1rem;
}
input {
  font-size: 1rem;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
label {
  font-weight: bold;
}
label[for] {
  cursor: pointer;
}
input {
  width: 100%;
  padding: 5px 10px;
}
button {
  cursor: pointer;
  background-color: var(--button);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
button:hover {
  background-color: var(--button-hover);
}
button:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
button[disabled] {
  opacity: 0.5;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between-center {
  justify-content: space-between;
  align-items: center;
}
