---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Intro from '../components/Intro.astro'
import CurrentVersion from '../components/CurrentVersion.astro'
import PastVersion from '../components/PastVersion.astro'
import NoVersion from '../components/NoVersion.astro'
import NoSite from '../components/NoSite.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants'
import URLForm from '../components/URLForm.svelte'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <Intro />
      <CurrentVersion />
      <PastVersion />
      <NoVersion />
      <NoSite />
    </main>
    <Footer />
  </body>
</html>
