<div class="container current hide" id="current">
    <h1 class="title">Clean bill of health!</h1>

    <div>
        <h2 class="subheading">
            Congratulations, the version of jQuery on your website is up to
            date.
        </h2>
    </div>

    <div>
        <h3 class="subheading version">
            Version: 
        </h3>
    </div>

    <div>
        <p class="current-message">
            Using an up to date jQuery version is important as it helps mitigate
            risks associated with security, regulatory compliance, and
            functionality,ensuring protection of customer data and preserving
            business reputation. Check out the below resources to keep your site
            up to date.
        </p>
    </div>
    <div>
        <p class="resources-link">
            <a href="https://openjsf.org/projects" target="_blank"
                >jQuery Resources</a
            >
        </p>
    </div>
</div>
