---
import logoImage from '../assets/images/logo.png'
---

<header class="flex-row">
  <a aria-label="jQuery Detection Tool Home" href="/">
    <img src={logoImage.src} alt="jQuery Logo" width="240" />
  </a>
</header>
