---
import logoImage from '../assets/images/logo.svg'
---

<header class="flex-row">
  <div class="header-container">
    <a aria-label="OpenJS jQuery Detection Tool" href="/">
      <img src={logoImage.src} alt="Web Health Checkup Logo" width="240" />
    </a>
  </div>
</header>
