---
import URLForm from '../components/URLForm.svelte'
---

<div class="container intro display" id="intro">
    <h1 class="title">Is your website at risk?</h1>
    <div class="search-container">
        <URLForm client:load />
    </div>

    <div>
        <h2 class="subheading">
            Check for the latest versions of popular web technology jQuery
        </h2>
    </div>

    <div class="flex-columns">
        <div class="columns-four">
            <p>Research shows<br /> 750,000 websites<br /> are out of date</p>
        </div>
        <div class="columns-four">
            <p>
                Out of date<br /> software causes<br /> privacy, security<br /> and
                stability risks
            </p>
        </div>
        <div class="columns-four">
            <p>
                If your jQuery is old,<br /> your other software<br /> may be out
                of date
            </p>
        </div>
        <div class="columns-four">
            <p>Upgrading is easy,<br /> take action now</p>
        </div>
    </div>
</div>
