<div class="container nosite hide" id="nosite">
    <h1 class="title">No site Detected.</h1>

    <div>
        <h2 class="subheading">
            This site URL does not exist.
        </h2>
    </div>
    
    <div>
        <p class="nosite-message">
            Please try another site URL.
        </p>
    </div>
    <div>
        <p class="resources-link">
            <a href="https://openjsf.org/projects" target="_blank"
                >jQuery Resources</a
            >
        </p>
    </div>
</div>
