<div class="container noversion hide" id="noversion">
    <h1 class="title">No jQuery Detected.</h1>

    <div>
        <h2 class="subheading">
            There is no version of jQuery on this website.
        </h2>
    </div>

    <div>
        <p class="noversion-message">
            Consider using jQuery on your website.
        </p>
    </div>
    <div>
        <p class="resources-link">
            <a href="https://openjsf.org/projects" target="_blank"
                >jQuery Resources</a
            >
        </p>
    </div>
</div>
