<div class="container past hide" id="past">
    <h1 class="title">Your website has poor health.</h1>

    <div>
        <h2 class="subheading">
            The version of jQuery on this website is outdated and unsupported.
        </h2>
    </div>

    <div>
        <h3 class="subheading version">
            Version: 
        </h3>
    </div>
    
    <div>
        <p class="past-message">
            Using out of date software causes privacy, security and stability
            risks. Upgrading offers numerous benefits, including access to
            regular updatesand community support, retirement of old versions,
            and the integration of improved security measures and features, and
            more. Upgrading iseasy - check out the resources below to learn how.
        </p>
    </div>
    <div>
        <p class="resources-link">
            <a href="https://openjsf.org/projects" target="_blank"
                >jQuery Resources</a
            >
        </p>
    </div>
</div>
